@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Zen+Maru+Gothic:wght@400;500;700&display=swap');

body {
    background: linear-gradient(to right, #5b86e5, #31a8b1);
    color: #FFF;
    height: 100%;
    width: 100vw;
}

@keyframes to-hide {
    to {display: none;}
}

.load-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    position: fixed;
    z-index: 9999;
    opacity: 1;     /* 不透明度の指定 */
    transition: opacity .5s;
}

.load-screen.hide {
    opacity: 0;     /* 不透明度の指定 */
    animation: to-hide 0s 1 .5s forwards;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.load-screen-img {
    animation: fade-in .3s ease-in 1;
}

@keyframes line-scale {
    0% {transform: scaley(1);}
    50% {transform: scaley(0.4);}
    100% {transform: scaley(1);}
}

.line-scale {
    animation: fade-in .3s ease-in 1;
}

.line-scale > div {
    background-color: #0070a0;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    animation: line-scale 1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation-fill-mode: both;
    display: inline-block;
}

.line-scale > div:nth-child(1) {
    animation-delay: -0.4s;
}

.line-scale > div:nth-child(2) {
    animation-delay: -0.3s;
}

.line-scale > div:nth-child(3) {
    animation-delay: -0.2s;
}

.line-scale > div:nth-child(4) {
    animation-delay: -0.1s;
}

.line-scale > div:nth-child(5) {
    animation-delay: 0s;
}

.header {
    padding: 5vmin;
}

.header-flex-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.header-flex-wrapper img {
    height: 1.5rem;
    width: auto;
    margin: 0 1rem;
}

.main {
    padding: 5vmin;
}

.hero-image-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 100;
}

.hero-image-wrapper img {
    width: 70vw;
    filter: drop-shadow(1px 19px 0px rgba(0, 0, 0, 0.20));
    transform: none;
    transition: transform .5s;
}

.hero-image-wrapper img:hover {
    transform: scale(0.8);
}

.hero-text-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 200;
    width: 100vw;
}

.dish-name {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    width: 20%;
}

.catch-copy {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

